# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .emailAddress }}

[commit]
	gpgsign = true

[core]
  editor = code

[diff]
  guitool = vscode
  guiDefault = true

# https://github.com/git-lfs/git-lfs/blob/main/docs/man/git-lfs-install.adoc
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[merge]
  guitool = vscode
  guiDefault = true

[push]
  autoSetupRemote = true

[submodule]
	recurse = true
