# https://docs.npmjs.com/cli/v8/using-npm/config

audit=false
cache=${XDG_CACHE_HOME}/npm
fund=false
init-author-email=nguyen.jeremyt@gmail.com
init-author-name=Jeremy Nguyen
init-author-url=https://jeremy.ng
init-license=MIT
init-version=0.0.0
lockfile-version=3
logs-dir=${XDG_STATE_HOME}/npm/logs
prefer-online=true
script-shell=/bin/zsh
sign-git-commit=true
sign-git-tag=true
//registry.npmjs.org/:_authToken={{ (bitwarden "item" "npm-auth-token").login.password }}
