#!/usr/bin/env zsh
#
# Configures Dato's settings. Dato is a macOS menu bar app that displays the
# current date and time, upcoming events, and time zones

# On initial setup after installation, Dato will prompt the user to enable
# permissions and then will ask whether to show "Icon" or "Date & time" in the
# menu bar. Select "Date & time" for reasonable defaults. After running this
# script, the user should:
# 1. Enable or disable which specific calendars or reminders in Settings >
#    Events.
# 2. Repeat the previous step in Settings > Events > Notifications on the
#    "Customize..." button.

# Sets the system clock "Style" to "Analog" in the menu bar since it's more
# compact and its functionality is replaced by Dato.
#
# System Settings > Control Center > Clock Options > Style: Analog
# (x-apple.systempreferences:com.apple.ControlCenter-Settings?Clock)
defaults write com.apple.menuextra.clock IsAnalog -bool true

# General
defaults write -app Dato useGoogleMaps -bool true
# Events
defaults write -app Dato showReminders -bool true
defaults write -app Dato "upcomingEventInMenuBar_isEnabled" -bool true
defaults write -app Dato "upcomingEventInMenuBar_onlyEventsWithStatus" -string acceptedAndTentativeAndPending
defaults write -app Dato "upcomingEventInMenuBar_clickMenuItemToJoinVideoCall" -bool true
defaults write -app Dato "upcomingEventInMenuBar_menuItemAction" -string "showWindowWithEventDetails"
defaults write -app Dato notifyWhenVideoCallStarts -bool true

# The value represents a `Duration` in Swift, which is represented as a 128-bit
# signed integer (Int128) counting attoseconds split into upper and lower 64-bit
# integers
# https://github.com/swiftlang/swift/blob/main/stdlib/public/core/Duration.swift#L37-L41
# https://developer.apple.com/documentation/swift/duration
defaults write -app Dato notifyForVideoCallsDurationBefore -string "[48,14556284461941522432]" # 15 minutes

defaults write -app Dato menu_eventDetails_showTimeZones -bool true
defaults write -app Dato eventDetails_showCalendarTitle -bool true
defaults write -app Dato openGoogleCalendarEventsInGoogleCalendar -bool true
defaults write -app Dato createNewEventsWith -string "googleCalendar"
defaults write -app Dato showVideoCallButtonOnlyForUpcomingEvents -bool true
# Time Zones
defaults write -app Dato timeZonesInMenu -array \
  -string '{{ .dato.losAngelesTimezone | toJson }}'
# Window
defaults write -app Dato "menu_positionedBelowMenuBarItem" -bool false
defaults write -app Dato showTimeZoneTimeTravelSliderInMenu -bool false
# Calendar
defaults write -app Dato highlightedDaysInCalendar -array -int 6 -int 7
defaults write -app Dato highlightDaysInCalendarStyle -string "redColor"
defaults write -app Dato indicateEventsInCalendar -string "one"
# Shortcuts
defaults write -app Dato KeyboardShortcuts_toggleDato -string '{{ .dato.toggleDatoShortcut | toJson }}'
