{{/* Always set Node.js version to latest Github release */}}
{{/* https://www.chezmoi.io/reference/templates/github-functions/gitHubLatestRelease/ */}}
{{- (gitHubLatestRelease "nodejs/node").TagName -}}
