audit=false
fund=false
init-author-email=nguyen.jeremyt@gmail.com
init-author-name=Jeremy Nguyen
init-author-url=https://jeremy.ng
init-license=MIT
init-version=0.0.0
sign-git-commit=true
sign-git-tag=true
